html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:monospace;
  overflow-y: hidden;
}

/*-----------Header-----------*/
header{
  height: 3em;
  padding-top:2em;
  padding-bottom: 1em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.title{
  order:2;
  display:block;
  text-align: center;
  margin:auto;
  color:#b61441;
  font-size: 2em;
  font-family: fantasy;
}

.menuIcon {
  order:1;
  display: table-cell;
  background-image: url('./icons/menu-icon.svg');
  width:2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  left:1em;
  top:0.5em;
  position: relative;
}

/*--------When Open Nav*-----------*/
.openNav .menu{
  display: block;
  width:250px;
  height:100%;
  z-index:11;
  left:0;
  overflow-y: scroll;
}
.openNav main, .openNav header{
  margin-left: 250px;
}
.openNav #map{
  width:calc(100% - 250px);
}
.openNav .menuIcon{
  background-image: url('./icons/close-icon.svg');
  left:0;
  top:-2em;
}

label{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
}

.menu{
  display: none;
  height: 1px; /* 100% Full-height */
  width: 1px; /* 0 width - change this with JavaScript */
  position: absolute;; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.menu-list{
  position:absolute;
  font-size: 1em;
  padding-top:1em;
  width: 100%;
}
.user-choose{
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top:0;
  z-index: 11;
}
.select, .input{
  font-family: monospace;
  height: 4em;
  border-radius:3px;
  background:#f3f3f3 30%;
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2),inset 0 1px 0 1px #fff,0 1px 2px rgba(0,0,0,0.15);
}

.select{
  width:25%;
}
.input{
  width:74%;
}
.input:hover{
  background: white;
}

.select #categorySelector, .input #nameSelector{
  height: 100%;
  margin-bottom:0;
  border:0;
  background:transparent;
  border-radius:3px;
  color:#666;
  width:100%;
}

.input #nameSelector{
  width: 95%;
  padding-left: 5%;
}

.result-list{
  height: calc(100% - 10em);
  position: relative;
}
.result-list ul{
  list-style: none;
  padding-left: 0;
}
.result-list ul li{
  padding-left: 10%;
  padding-right: 1em;
  height: 4em;
  background: white;
  display: flex;
/*  border: 1px solid #d5d8df;*/
  border-radius: 4px;
  cursor:pointer;
  width:88%;
}
.result-list ul li:hover{
  background:linear-gradient(white, #f1abed, white);
}
.result-list ul li:hover .labelNumber{
  background-color: white;
}
.labelNumber{
  background-color: #f1abed;
  padding:5px;
  margin-top: 1em;
  border-radius: 1.5em;
  text-align: center;
  height:1.5em;
  width:1.5em;
}
.restaurantName{
  padding-left: 1em;
  padding-top:0.3em;
}
.notFoundResult{
  margin-top: 3em;
  width: 95%;
  text-align: center;
}

/*-----------map--------*/
main{
  width:100%;
  height: calc(100vh - 6em);
  border: 2px solid #d5d8df;
  transition: margin-left .3s;
}
#map {
  width:100%;
  height:calc(100% - 6em);
  position: absolute;
  transition: margin-left .3s;
}

.info_link{
  text-decoration: none;
  font-size:1.5em;
  color:#816bed;
  font-weight: bold;
}

.info_category{
  border-radius: 0.1em;
  border: 1px solid #f2c7f0;
  background-color: #f1abed;
  display:table-cell;
  font-weight: normal;
  box-shadow: 1px 1px 1px 0px rgba(158,129,157,1);
}
.info_address{
  font-size: 1em;
}

/*----------screen smaller than 605--------*/
@media (max-width: 605px) {
  .openNav .title{
    font-size: 1em;
  }
}
@media (max-width: 425px){
  .title{
    font-size: 1.5em;
  }
  .menuIcon{
    width:1.5em;
    height: 1.5em;
    background-size: contain;
  }
  .openNav .menu{
    width:350px;
  }
  .openNav main{
    margin-left: 0;
  }
  .openNav header{
    margin-left: 350px;
  }
  .openNav .title{
    display: none;
  }
  .openNav #map{
    width:100%;
  }
}

@media (max-width: 374px){
  .title{
    font-size: 1.2em;
  }
  .menuIcon{
    width:1.5em;
    height: 1.5em;
    background-size: contain;
  }
  .openNav .menu{
    width:300px;
  }
  .openNav main{
    margin-left: 0;
  }
  .openNav header{
    margin-left: 300px;
  }
  .openNav .title{
    display: none;
  }
  .openNav #map{
    width:100%;
  }
}

/*------no found page *---------*/
.noDataPage,.noMapPage{
  margin-left: auto;
  margin-right:auto;
  margin-top: 10vh;
  width: 80%;
  height:50vh;
  position: relative;
  text-align: center;
  padding: 1em;
  background-image: url('./icons/404.svg');
  background-size:30%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.noMapPage{
  width:40%;
  height:30vh;
}
.noDataPage div, .noMapPage{
  font-size: 1.5em;
}
